.text {
  font-family: inherit;
  font-size: 28px;
  font-weight: normal;
  color: #212121;
}

.input {
  width: 500px;
  font-size: 28px;
  font-weight: normal;
  color: #212121;
  padding: 10px;
  outline: 2px solid #212121;
  border: 2px solid transparent;
  border-radius: 4px;
}

.input:focus-visible {
  outline-color: #535bf2;
}
