.wrap {
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #212121;
  border-radius: 4px;
  padding: 10px;
}

.info {
  display: flex;
  flex-direction: column;
  font-family: inherit;
  font-size: 18px;
  font-weight: normal;
  color: #212121;
}

.button {
  font-family: inherit;
  font-size: 18px;
  font-weight: normal;
  border: 1 solid #212121;
  background-color: #f3f0f0;
  border-radius: 2px;
  cursor: pointer;
}

.text {
  gap: 15px;
  align-items: center;
  display: flex;
}
